@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* 100 darajada  */
#h-id {
  color: green;
}
/*  10 daraja */

/* 10000 important */
.h-class {
  color: orange !important;
}

/* 1 darajada  */
h1 {
  color: blue;
}

/* 0 darajadagi */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: red;
}
body {
  padding: 6.25rem;
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
